.header {
  height: 212px;
}
.header .top {
  height: 41px;
}
.header .top .lf {
  position: relative;
  width: 84px;
  height: 29px;
  padding-left: 40px;
  margin-left: 5px;
  background: url(../images/top_bg.jpg) no-repeat;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 29px;
  cursor: pointer;
}
.header .top .lf .log-b {
  position: absolute;
  top: 30px;
  left: 30px;
  border: 1px solid #ddd;
  padding: 0 20px;
  z-index: 100;
}
.header .top .lf:hover {
  background-position-x: -124px;
}
.header .top .lf:hover .log-b {
  display: block;
  background-color: #fff;
}
.header .top a {
  color: #fff;
}
.header .logo {
  padding-left: 30px;
}
.header .search {
  margin-top: 10px;
  margin-right: 12px;
  line-height: 28px;
}
.header .search .time {
  font-size: 14px;
  color: #fff;
  margin-right: 20px;
}
.header .search .text {
  float: left;
  width: 224px;
  height: 27px;
  font: 12px/28px "Microsoft YaHei";
  color: #666;
  background: #fff;
  border: none;
  padding-left: 14px;
}
.header .search .button {
  float: left;
  width: 42px;
  height: 27px;
  background: url(../images/search.png) no-repeat center;
  border: none;
  cursor: pointer;
}
.header .nav {
  position: absolute;
  top: 162px;
  left: 0px;
  width: 100%;
  height: 50px;
  padding-top: 11px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
}
.header .nav .col {
  float: left;
  margin: 0px 28px;
}
.header .nav .col .nav-item {
  display: block;
  width: 115px;
  height: 39px;
  line-height: 39px;
  padding-left: 55px;
  background-repeat: no-repeat;
  background-position: 26px 10px;
  border-radius: 5px;
  box-sizing: border-box;
}
.header .nav .col .nav-item-1 {
  background-image: url(../images/home.png);
}
.header .nav .col .nav-item-2 {
  background-image: url(../images/zx.png);
}
.header .nav .col .nav-item-3 {
  background-image: url(../images/gk.png);
}
.header .nav .col .nav-item-4 {
  background-image: url(../images/fw.png);
}
.header .nav .col .nav-item-5 {
  background-image: url(../images/hd.png);
}
.header .nav .col .nav-item-6 {
  background-image: url(../images/zy.png);
}
.main .banner {
  position: relative;
  height: 370px;
  padding: 15px 0;
  box-sizing: border-box;
  overflow: hidden;
}
.main .banner ul {
  position: absolute;
  width: 5130px;
  height: 100%;
}
.main .banner .banner-item {
  float: left;
}
